/*
body{
  font-family:sans-serif;
  background:#F3F3F3;
}
.infobox{
  float:right;
  border:solid thin black;
}
div#mw-panel{
  width:10em;
  position:absolute;
  top:160px;
}
div#content{
  margin-left:10em;
  background:white;
  padding:1em;
}
#mw-page-base{
  height:5em;
}
#mw-panel ul{
  list-style:none;
  margin:0;
  padding:0;
}
#mw-panel ul li{
  font-size:0.75em;
  margin:0;
}
#mw-panel h5{
  cursor:pointer;
}
*/